{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="bg-purple">
    <div class="container d-flex flex-column align-items-center">
        <img src="{% static 'beauty/img/0003.png' %}" alt="Image" class="img-fluid">
    </div>
</div>

<!-- profiles -->
<div class="jumbotron bg-transparent mb-0">
    <div class="container bg-white">


        <div class="row mx-auto">

            <form method="get" class="col-lg-12">
                <div class="form-group row mx-auto">
                    <input type="text" name="q" id="q" class="col-lg-11 col-10 form-control mt-5">
                    <button class="btn btn-primary col-lg-1 col-2 mt-auto"><i class="bi bi-search"></i></button>
                </div>
            </form>

            <!-- All Post -->
            <div class="col-md-12 col-lg-12" id="post">

                {% for page in post %}
                <div class="post-preview">
                    <a href="{% url 'beauty:detail' page.link %}">
                        <h2 class="post-title">{{ page }}</h2>
                    </a>
                    <p class="post-meta">Created by Bintang on {{ page.date_create }}</p>
                </div>
                <hr>

                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center py-4">
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}#post" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">begin</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for n in page_obj.paginator.page_range %}
                    {% if page_obj.number == n %}
                    <li class="page-item active">
                        <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                    </li>
                    {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ n }}#post">{{ n }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}#post" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">end</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>
<!-- end profiles -->
{% endblock %}